.assign-1-shape-1 {
    background-color: rgb(124, 10, 231);
    width: 500px;
    padding: 10px ;
    margin: 10px 10px 10px 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.assign-1-shape-2 {
    background-color: rgb(161, 98, 221);
    width : 500px;
    padding: 20px;
    margin: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;

}

.assign-1-shape-3 {
    background-color: rgb(230, 224, 235);
    width : 500px;
    padding: 10px;
    margin: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}