div {
    background-color: red;
    background-color: rgb(0 255 0 / 60%);
    background-color: #FF7799;
    background-image: url("../Screenshot\ 2025-12-13\ at\ 12.38.28\ PM.png");
    /* background-repeat: repeat; */
    background-repeat: no-repeat;
    /* background-repeat: repeat-x;
    background-repeat: repeat-y; */
    background-attachment: fixed;
    background-position: 50% 50%;
    /* background-size: cover; */
    /* background-size: contain; */
    background-size: 200px 300pxç;
}