

p {
    color: red;
}

.my {
    color: green;
}

#my {
    color: blueviolet;
}

div {
    background-color: red;
    padding: 10px;
    margin: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}