/* 
    CSS units 

    -px => Pixel unit (fixed size).
    -em ==> Size relative to the parent element.
    -rem ==> Size relative to the root element (html).

    precentg ->Size relative to the parent size
    -vw ==> view port width -> 1% of the browser window width

    Read
    -vmin => The smaller value between viewport width and height
    -vh   => 1% of the browser window height.
*/

body {
    font-size: 40px;
}

div span { /* Selects every span that is inside a div */
    /* font-size: 2em; */
    font-size: 2rem;
    /* font-size: 5vw; */

}

div {
    font-size: 20px;
}